#header,#footer {
    height: 80px;
    width:100%;
}

#footer{
    margin-top: 20px;
}

#grid-container{
    display:grid;

    grid-template-rows:auto 1fr auto;
    grid-template-columns:100%;

    /* fallback height */
    min-height:100vh;

    /* new small viewport height for modern browsers */
    min-height:100svh;
}

.iconUser{
    width: 100%;
    height:100%;
    display: grid;
    justify-content: flex-end;
    align-items: center;
}


.iconUser svg:hover{
    cursor: pointer;
    opacity: 0.8;
}